
	.is-style-adm-flexbox-group > .wp-block-group__inner-container{
		display: flex;
		flex-wrap: wrap !important;
		padding:0;
		justify-content: center;
		gap: 1em;
	}

	.is-style-adm-flexbox-group > .wp-block-group__inner-container > *  
	{
		border: 2px solid #d0d0d0;
		padding: 2em 1em 1em 1em;
		border-radius: 1em;
		box-shadow: 0 0 5px #d0d0d0;
		background-color: white;
		margin-block-start:0;
		max-width: 400px;
		text-align: center;
	}


.is-style-adm-flexbox-group > .wp-block-group__inner-container .wp-block-image img
{
	margin:auto;
}

@media (max-width: 608px){
	.adm-flexbasis-3 > .wp-block-group__inner-container > *{
		flex-basis: 100% !important;		
    	padding-left: 1em;
    	padding-right: 1em;
	}
	
	.adm-flexbasis-4 > .wp-block-group__inner-container > *{
		flex-basis: 100% !important;
    	padding-left: 1em;
    	padding-right: 1em;
	}

}


@media (min-width: 609px) and (max-width:1024px){
	.adm-flexbasis-3 > .wp-block-group__inner-container > *{
		flex-basis: 50% !important;
    	padding-left: 1.5em;
    	padding-right: 1.5em;
	}
	.adm-flexbasis-4 > .wp-block-group__inner-container > *{
		flex-basis: 50% !important;
    	padding-left: 1em;
    	padding-right: 1em;
	}
	
}


@media (min-width:1024px){
	.adm-flexbasis-3 > .wp-block-group__inner-container > *{
		flex-basis: 30% !important;
    	padding-left: 2em;
    	padding-right: 2em;
	}

	.adm-flexbasis-4 > .wp-block-group__inner-container > *{
		flex-basis: 25% !important;
		padding-left: 2em;
    	padding-right: 2em;
	}

} 

