/*  ------------------------------------------   */
/*  --------------  FRONT SITE  --------------   */

.home {
    background-image: url(https://miodolada.pl/layout/comb_dots_3.png), url(https://miodolada.pl/layout/comb_dots.png);
    background-attachment: fixed, fixed;
    background-position: top left, top right;
    background-repeat: no-repeat, no-repeat;
    background-size: 15%, 15%;
}


.home .entry-content section p{
	margin-top		: 0;
	margin-bottom	: 0;
	font-size		: 19px;
	line-height		: 2em;
	font-family		: var(--mainfont);
}


.home.blog .site-header, .home.page:not(.page-template-template-homepage) .site-header, .home.post-type-archive-product .site-header{
    margin-bottom:0;
}


#masthead.site-header .site-branding{
    margin-top: 1em;
    margin-bottom: 1em;
}
#masthead.site-header .storefront-primary-navigation{
    margin-top: 1em;
    margin-bottom:1em;
}

@media (max-width: 767px) {
    #masthead.site-header {
        flex-direction: row;
    }
}


#main-smaki img{
	max-width: 500px;
	margin-right:0;
	margin-left: auto;
}


footer.site-footer{
    padding:0;
}


.site-footer p,
.site-footer strong,
.site-footer b,
.site-footer ul,
.site-footer li,
.site-footer a{
	color: white;
	font-family: 'Roboto';
}

.home p{
	margin: 0;
}

.form-oferta{
	border: 1px solid #abb8c3;
    border-radius: 5px;
    padding: 0 1em;
}




/*
.wpforms-container{
	border: 1px solid black;
}


.wpforms-container .wpforms-field-container{
	display: flex;
	flex-wrap: wrap;
	width:100%;

}

.wpforms-container .wpforms-field-container .wpforms-field {
	width: 50% !important;
}
.wpforms-container .wpforms-field-container .wpforms-field:last-child {
	width: 100% !important;
}

.wpforms-container .wpforms-field-container .wpforms-field > input,
.wpforms-container .wpforms-field-container .wpforms-field-textarea
{
    width: 90% !important;
    max-width: 100% !important;
}


.wpforms-submit-container::before {
  content: " * Zgadzam się na korespondencję z firmą Pachniczówka Sp. z o.o. na temat hurtowej oferty";
  display: inline-block;
	margin-bottom: 1em;
}

.wpforms-submit{
	display: block;
}
*/



@media screen and (max-width: 767px){
/*
    #main-front-cover,
    #main-cover-right{
        padding:0;
        justify-content: center !important;
    }
    #main-cover-left{
        padding:0;
        justify-content: center !important;
    }
*/

    #main-front-cover .wp-block-cover__inner-container, .editor-styles-wrapper .wp-block-cover .wp-block-cover__inner-container,
    #main-cover-right .wp-block-cover__inner-container, .editor-styles-wrapper .wp-block-cover .wp-block-cover__inner-container{
        background-color: #8c1818;
        padding-left: 2em;
        padding-right: 2em;
    }
    #main-cover-left .wp-block-cover__inner-container, .editor-styles-wrapper .wp-block-cover .wp-block-cover__inner-container{
        background-color: #8c1818;
        padding-left: 2em;
        padding-right: 2em;
    }

}

@media screen and (min-width: 768px){
    #main-front-cover,
    #main-cover-right{
        padding:0;
        justify-content: flex-end !important;
    }
    #main-cover-left{
        padding:0;
        justify-content: flex-start !important;
    }

    
    #main-front-cover .wp-block-cover__inner-container, .editor-styles-wrapper .wp-block-cover .wp-block-cover__inner-container,
    #main-cover-right .wp-block-cover__inner-container, .editor-styles-wrapper .wp-block-cover .wp-block-cover__inner-container{
        background-color: #8c1818;
        padding-left: 2em;
        padding-right: 2em;
        width       : 50% !important;
        max-width   : 50%  !important;
    }
    #main-cover-left .wp-block-cover__inner-container, .editor-styles-wrapper .wp-block-cover .wp-block-cover__inner-container{
        background-color: #8c1818;
        padding-left: 4em;
        padding-right: 2em;
        width       : 50% !important;
        max-width   : 50%  !important;
    }
    
}

/*
.wp-block-cover__inner-container, .editor-styles-wrapper .wp-block-cover .wp-block-cover__inner-container h1,
.wp-block-cover__inner-container, .editor-styles-wrapper .wp-block-cover .wp-block-cover__inner-container h2,
.wp-block-cover__inner-container, .editor-styles-wrapper .wp-block-cover .wp-block-cover__inner-container h3,
.wp-block-cover .wp-block-cover__inner-container h1,
.wp-block-cover .wp-block-cover__inner-container h2,
.wp-block-cover .wp-block-cover__inner-container h3
{
    color: white !important;
}
*/




#atrakcyjna{
    max-width: 100%;
    width:100%;
    padding:0;
    margin:0;
    background-color: #fff6d1;
}

#atrakcyjna > * {
    width:100%;
    max-width:100%;
}



#atrakcyjna .wp-block-media-text__content{
    background-color: #8c1818;
    padding-left    : 2em;
    padding-right   : 2em;
    color           : white;
    height          : 100%;
    vertical-align  : middle;
    display         : grid;
    align-items     : center;
    min-height      : 500px;

}

#atrakcyjna .wp-block-media-text:not(.has-media-on-the-right) .wp-block-media-text__content{
    justify-content : start;
}
#atrakcyjna .wp-block-media-text.has-media-on-the-right .wp-block-media-text__content{
    justify-content: end;
}

@media (max-width: 781px) {
    #atrakcyjna .wp-block-media-text{
        grid-template-columns: 100% !important;
    }
}


#atrakcyjna .wp-block-media-text__content p,
#atrakcyjna .wp-block-media-text__content h1,
#atrakcyjna .wp-block-media-text__content h2,
#atrakcyjna .wp-block-media-text__content h3
{
    color: white;
}

#atrakcyjna .wp-block-media-text{
    margin-bottom:0;
    margin-top:0;
}


/*
#slogan{
    font-family     : 'Rum Raisin';
    margin-bottom   : 2em;
    color           : white;
}
*/
 
@media screen and (max-width: 781px){
    #main-pakowanie >*, 
    #korzysci > *{
        width:100%;
    }
}

#korzysci .wp-block-columns .wp-block-column{
    padding: 2em;
    border-radius: 1em;
    background-color: white;
    box-shadow: 0px 1px 3px #bc6f04;
}

/* .hentry .entry-content #zadzwon .wp-block-button,
*/


#zadzwon .wp-block-button {
	margin-bottom: 0;
	font-size: 0.8em;
}
#zadzwon h1,
#zadzwon h2,
#zadzwon h3{
	margin-bottom:0;
}

/*    Formularz rejestracji z shortcoda      */

#adm--custom-registration-form {
    max-width: 600px;
    margin: auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

#adm--custom-registration-form p {
    margin-bottom: 2em;
}

#adm--custom-registration-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;;
}

#adm--custom-registration-form  .label-note{
    font-size: 95%;
    font-style:italic;
    font-weight:normal;
    color:#666;
    display: block;
}


#adm--custom-registration-form input[type="text"],
#adm--custom-registration-form input[type="email"],
#adm--custom-registration-form input[type="tel"],
#adm--custom-registration-form input,
#adm--custom-registration-form textarea {
    width: 100%;
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    transition: border-color 0.3s ease;
}

#adm--custom-registration-form textarea {
    min-height: 100px;
    resize: vertical;
}

#adm--custom-registration-form input:focus,
#adm--custom-registration-form textarea:focus {
    border-color: #0066cc;
    outline: none;
}


/* Styl przycisku */
#adm--custom-registration-form button[type="submit"] {
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#main-formularz-1
{
    background-color: var(--adm--header-bg-color);
}


.hentry .entry-content #main-formularz-2 .wp-block-cover .wp-block-cover__inner-container p:not(.has-text-color){
    color: inherit !important;
}



#grupa-formularz .wp-block-group__inner-container{
	background-color	: white;
    border-radius		: 20px;
	align-content: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


#grupa-formularz h1,
#grupa-formularz h2,
#grupa-formularz h3,
#grupa-formularz h4
{
	margin: 2em 2em 0 2em;
}


#grupa-formularz-zalogowany .wp-block-group__inner-container{
	background-color: #330000bf;
    padding: 2em 0;
    border-radius: 2em;	
}

#grupa-formularz-zalogowany h1,
#grupa-formularz-zalogowany h2,
#grupa-formularz-zalogowany h3,
#grupa-formularz-zalogowany h4,
#grupa-formularz-zalogowany p
{
	color: white;
}

#main-nagrody{
    background-color: #ffffff;
    box-shadow: 0px 0px 10px black;
}


/*  galeria NAGRODY  */


#nagrody{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}


#nagrody >*{
    flex-grow: unset;
}

@media (max-width: 600px) {
    #nagrody >*{
        width : 150px !important;
    }   
}



.price-netto .price-numbers,
.price-brutto .price-numbers{
        font-weight: 600;
}


/* checkout   */


.wc-block-components-checkbox .wc-block-components-checkbox__label,
.wc-block-checkout__add-note .wc-block-components-checkbox__label{
    font-size: 120%;
    font-weight: 600;
}


.wc-block-components-radio-control__option--checked-option-highlighted,
.wc-block-components-radio-control-accordion-option--checked-option-highlighted,
.wc-block-components-radio-control--highlight-checked 
.wc-block-components-radio-control__option--checked-option-highlighted,
.wc-block-components-radio-control__option.is-selected {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}


/* Dodaje cienką linię (separatory) między sekcjami w formularzu checkout */
.wc-block-components-form.wc-block-checkout__form > *:not(:empty),
.wc-block-components-form .wc-block-components-checkout-step

{
    padding-top: 2em;
    padding-bottom: 2em;
    margin-bottom: 2em;
}

/* Usuwa separator pod ostatnim elementem */
.wc-block-components-form.wc-block-checkout__form > *:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.woocommerce-orders-table__cell woocommerce-orders-table__cell-order-actions{
    display: grid;
    justify-content: start;
    align-items: center;
}