
.woocommerce-breadcrumb{
	text-align: left;
}


.woocommerce-ordering,
.storefront-sorting{
    display: none !important;
}




.login-register-notice,
.woocommerce-info{
	background-color: #3d9cd2 !important;
	color: #fff !important;
}





/*    My Account - strona Moje Konto    */

form.woocommerce-ResetPassword,
form.lost_reset_password{
    display : grid;
    gap     : 0.6em;
}


.wc-block-checkout__add-note{
    margin-top      : 5em;
    margin-bottom   : 5em;
} 



.woocommerce-MyAccount-content .woocommerce-EditAccountForm > *:not(.clear) 
.woocommerce-MyAccount-content .woocommerce-EditAccountForm > p,
.woocommerce-MyAccount-content .woocommerce-EditAccountForm .woocommerce-form-row {
    margin-top  : 1em;
}

.woocommerce-MyAccount-content .woocommerce-EditAccountForm em {
    font-size: 90%;
}

.woocommerce-MyAccount-content .woocommerce-EditAccountForm  fieldset {
    background-color    : #fbfbfb;
}

.woocommerce-MyAccount-content .woocommerce-EditAccountForm #adm--lost-pasword-link {
    margin-bottom       : 2em;
    background-color    : #fbfbfb;
    padding             : 1em;
}

