.woocommerce-breadcrumb{
	text-align: left;
}


.woocommerce-ordering,
.storefront-sorting{
    display: none !important;
}




.login-register-notice,
.woocommerce-info{
	background-color: #3d9cd2 !important;
	color: #fff !important;
}