


/*
	color		: var(--button-color);
	background-color: var(--button-bgcolor);
    font-family		: var(--mainfont);

		color: var(--main-header-color);
		color: var(--sub-header-color);

		color		: var(--button-hover-color);
		background-color: var(--button-hover-bgcolor);



*/




.is-style-gladki .button,
.is-style-gladki .wp-element-button{
    width		: auto;
    box-sizing		: border-box;
    margin		: auto;
    text-align		: center;
    display		: inline-block;
    padding		: 15px 32px;
    justify-content	: center;
    align-items		: center;
    border-radius	: 5px 20px 5px 20px !important;
    text-decoration	: none;
    font-size		: 15px;
    font-style		: normal;
    font-weight		: 500;
    line-height		: normal;
    text-transform	: uppercase;
    font-family		: var(--mainfont);
    margin-top		: 32px;
    transition		: .5s;
    letter-spacing	: 2px;
    border		: 1px solid !important;
    color		: var(--button-color);
    background-color	: var(--button-bgcolor);
}
	

	.adm--text-image .wp-block-media-text__content{
		box-sizing: border-box;
		margin: auto;
		flex-basis: 50%;
		padding: 64px 0;
	}

	.is-style-gladki {
			padding		: 32px 16px;
			flex-direction	: column;
			margin-bottom	: 5em;
	}

	.is-style-gladki .button:hover,
	.is-style-gladki .wp-element-button:hover{
		color		: var(--button-hover-color);
		background-color: var(--button-hover-bgcolor);
	}	
	


	
	.is-style-gladki.has-media-on-the-right .wp-block-media-text__media img { 
		border-radius: 20px 20px 20px 100px;
    		block-size: 100%;
	}
	
	.is-style-gladki .wp-block-media-text__media img { 
		border-radius	: 20px 20px 100px 20px;
    		block-size: 100%;
	}


	
	.is-style-gladki .subheader {
		padding: 0;
		box-sizing: border-box;
		margin: auto;
		font-size: 16px;
		font-weight: 300;
		letter-spacing: 1px;
		text-transform: uppercase;
		line-height: 1.4;
		margin-bottom: 8px;
		color: var(--sub-header-color);

	}
	
	
	.is-style-gladki .mainheader{
		pointer-events: none;
		padding: 0;
		box-sizing: border-box;
		margin: auto;
		color: var(--main-header-color);
		font-size: 40px;
		line-height: 40px;
		font-style: normal;
		font-weight: 700;
		margin-bottom: 1em;
	}
	
	.is-style-gladki p {
		font-family: var(--mainfont);
		pointer-events: none;
		padding: 0;
		box-sizing: border-box;
		margin: auto;
		color: #202020;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 160%;
		line-height: 1.6;
		margin-bottom: 2em;
	}
	
	
	
	@media (max-width: 1000px) {
		.adm--text-image,
		.adm--text-image.reverse 
		{
			padding		: 32px 16px;
			flex-direction	: column;
			margin-bottom	: 5em;
		}

		.adm--text-image .wp-block-media-text__content{
			width		: 90%;
			margin-top	: 4em;
			margin-left	: auto;
			margin-right: auto;
			padding		: 0;

		}
		
		.is-style-gladki .sub-header {
			justify-content	: center;
			text-align	: center;
			margin-bottom	: 2em;
			font-weight	: 500;
		}
		.is-style-gladki .main-header{
			text-align	: center;
			line-height	: 1.3;
			line-height	: 130%;
			margin-bottom	: 1em;
		}


		.is-style-gladki .button,
		.is-style-gladki .wp-element-button{
			margin-top	: 24px;
			margin-left	: auto;
			margin-right	: auto;
			font-size	: 18px;
        		/*padding		: 30px 60px;*/
		}

		
	}

